<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="EnrollKurumsalEntities"
         connectionString="metadata=res://*/Kutuphaneler.DataModel.EnrollKurumsalModel.csdl|res://*/Kutuphaneler.DataModel.EnrollKurumsalModel.ssdl|res://*/Kutuphaneler.DataModel.EnrollKurumsalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=EnrollKurumsal;persist security info=True;user id=sa;password=say98;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="LanguageTrId" value="1" />
    <add key="LanguageEnId" value="2" />
    <add key="DefaultWorkingLanguage" value="1" />
    <add key="UserFilesPath" value="~/FileManager" />
    <add key="Telerik.Skin" value="Default" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/AdminGiris/OturumAc.aspx" timeout="2880" />
    </authentication>
    <pages enableSessionState="true">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*"
           validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*"
           validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
  </system.web>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="anasayfa">
          <match url="^anasayfa" />
          <action type="Rewrite" url="/Default.aspx" />
        </rule>
        <rule name="sayfa">
          <match url="^sayfa/([0-9]+)/([_0-9a-z-]+)" />
          <action type="Rewrite" url="/sayfa.aspx?code={R:1}&amp;title={R:2}" />
        </rule>
        <rule name="haberdetay">
          <match url="^haberdetay/([0-9]+)/([_0-9a-z-]+)" />
          <action type="Rewrite" url="/haberdetay.aspx?code={R:1}&amp;title={R:2}" />
        </rule>
        <rule name="haberler">
          <match url="^haberler/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/haberlerlist.aspx?code={R:1}&amp;title={R:2}&amp;haberlerpage={R:3}" />
        </rule>
        <rule name="tumhaberler">
          <match url="^tumhaberler/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/haberlerlist.aspx?code={R:1}&amp;title={R:2}&amp;haberlerpage={R:3}" />
        </rule>
        <rule name="duyurudetay">
          <match url="^duyurudetay/([0-9]+)/([_0-9a-z-]+)" />
          <action type="Rewrite" url="/duyurudetay.aspx?code={R:1}&amp;title={R:2}" />
        </rule>
        <rule name="duyurular">
          <match url="^duyurular/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/duyurularlist.aspx?code={R:1}&amp;title={R:2}&amp;duyurularpage={R:3}" />
        </rule>
        <rule name="tumduyurular">
          <match url="^tumduyurular/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/duyurularlist.aspx?code={R:1}&amp;title={R:2}&amp;duyurularpage={R:3}" />
        </rule>
        <rule name="etkinlikdetay">
          <match url="^etkinlikdetay/([0-9]+)/([_0-9a-z-]+)" />
          <action type="Rewrite" url="/etkinlikdetay.aspx?code={R:1}&amp;title={R:2}" />
        </rule>
        <rule name="etkinlikler">
          <match url="^etkinlikler/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/etkinliklerlist.aspx?code={R:1}&amp;title={R:2}&amp;etkinliklerpage={R:3}" />
        </rule>
        <rule name="tumetkinlikler">
          <match url="^tumetkinlikler/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/etkinliklerlist.aspx?code={R:1}&amp;title={R:2}&amp;etkinliklerpage={R:3}" />
        </rule>
        <rule name="ihaledetay">
          <match url="^ihaledetay/([0-9]+)/([_0-9a-z-]+)" />
          <action type="Rewrite" url="/ihaledetay.aspx?code={R:1}&amp;title={R:2}" />
        </rule>
        <rule name="ihaleler">
          <match url="^ihaleler/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/ihalelerlist.aspx?code={R:1}&amp;title={R:2}&amp;ihalelerpage={R:3}" />
        </rule>
        <rule name="tumihaleler">
          <match url="^tumihaleler/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/ihalelerlist.aspx?code={R:1}&amp;title={R:2}&amp;ihalelerpage={R:3}" />
        </rule>
        <rule name="cenazeler">
          <match url="^cenazeler/([0-9]+)" />
          <action type="Rewrite" url="/cenazelerlist.aspx?cenazelerpage={R:1}" />
        </rule>
        <rule name="fotoalbumdetay">
          <match url="^fotoalbumdetay/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/fotoalbumdetay.aspx?code={R:1}&amp;title={R:2}&amp;fotoalbumdetaypage={R:3}" />
        </rule>
        <rule name="fotoalbumler">
          <match url="^fotoalbumler/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/fotoalbumlerlist.aspx?code={R:1}&amp;title={R:2}&amp;fotoalbumlerpage={R:3}" />
        </rule>
        <rule name="videoalbumdetay">
          <match url="^videoalbumdetay/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/videoalbumdetay.aspx?code={R:1}&amp;title={R:2}&amp;videoalbumdetaypage={R:3}" />
        </rule>
        <rule name="videoalbumler">
          <match url="^videoalbumler/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/videoalbumlerlist.aspx?code={R:1}&amp;title={R:2}&amp;videoalbumlerpage={R:3}" />
        </rule>
        <rule name="arama">
          <match url="^arama/([_0-9a-z-]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/arama.aspx?kategori={R:1}&amp;code={R:2}&amp;aramapage={R:3}" />
        </rule>
        <rule name="belediyehizmetleri">
          <match url="^belediyehizmetleri/([_0-9a-z-]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite"
                  url="/belediyehizmetlerilist.aspx?code={R:1}&amp;title={R:2}&amp;belediyehizmetleripage={R:3}" />
        </rule>
        <rule name="belediyehizmetleriara">
          <match url="^belediyehizmetleriara/([_0-9a-z-]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite"
                  url="/belediyehizmetlerilist.aspx?code={R:1}&amp;arama={R:2}&amp;belediyehizmetleripage={R:3}" />
        </rule>
        <rule name="rsslistesi">
          <match url="^rsslistesi" />
          <action type="Rewrite" url="/rsslist.aspx" />
        </rule>
        <rule name="rss">
          <match url="^rss/([0-9]+)/([0-9]+)/([_0-9a-z-]+)" />
          <action type="Rewrite" url="/rss.aspx?bolum={R:1}&amp;kategori={R:2}&amp;baslik={R:3}" />
        </rule>
        <rule name="yayinlar">
          <match url="^yayinlar/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/yayinlarlist.aspx?code={R:1}&amp;title={R:2}&amp;yayinlarpage={R:3}" />
        </rule>
        <rule name="yayindetay">
          <match url="^yayindetay/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite" url="/yayindetay.aspx?code={R:1}&amp;title={R:2}&amp;yayinlardetaypage={R:3}" />
        </rule>
        <rule name="siteharitasi">
          <match url="^siteharitasi" />
          <action type="Rewrite" url="/siteharitasi.aspx" />
        </rule>
        <rule name="dokumanyayinlari">
          <match url="^dokumanyayinlari/([0-9]+)/([_0-9a-z-]+)/([0-9]+)" />
          <action type="Rewrite"
                  url="/dokumanyayinlarilist.aspx?code={R:1}&amp;title={R:2}&amp;dokumanyayinlarilistpage={R:3}" />
        </rule>
        <!--<rule name="dil">
          <match url="^dil/([0-9]+)" />
          <action type="Rewrite" url="/dil.aspx?id={R:1}" />
        </rule>
        
        <rule name="hata">
          <match url="^hata" />
          <action type="Rewrite" url="/Error.aspx" />
        </rule>
        
        <rule name="sayfaBulunamadi">
          <match url="^sayfaBulunamadi" />
          <action type="Rewrite" url="/404.aspx" />
        </rule>-->
      </rules>
    </rewrite>
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*"
           preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd"
           type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx"
           type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx"
           type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd"
           type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <caching>
      <profiles>
        <add extension=".axd" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:05:00" />
        <add extension=".aspx" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:05:00" />
      </profiles>
    </caching>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147482624" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <remove name="RadCompression" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
    </modules>
  </system.webServer>
</configuration>